---
apiVersion: storage.k8s.io/v1
kind: StorageClass
metadata:
  name: single-replica-sc
  annotations:
    cas.openebs.io/config: |
      - name: ControllerImage
        value: openebs/jiva:{{ jiva_tag }}
      - name: ReplicaImage
        value: openebs/jiva:{{ jiva_tag }}
      - name: VolumeMonitorImage
        value: openebs/m-exporter:{{ openebs_tag }}
      - name: ReplicaCount
        value: "1"
      - name: StoragePool
        value: default
provisioner: openebs.io/provisioner-iscsi
