# Create a StorageClass suited for Mongo StatefulSet
# Since Mongo takes care of replication, one replica will suffice
# Can be configured with Anti affinity topology key of hostname (default)
#  or across zone. 
---
apiVersion: storage.k8s.io/v1
kind: StorageClass
metadata:
  name: mongo-pv-az
  annotations:
    cas.openebs.io/config: |
      - name: ReplicaCount
        value: "1"
      - name: StoragePool
        value: default
      - name: FSType
        value: "xfs"
      #- name: ReplicaAntiAffinityTopoKey
      #  value: failure-domain.beta.kubernetes.io/zone
provisioner: openebs.io/provisioner-iscsi
---
# Headless service for stable DNS entries of StatefulSet members.
apiVersion: v1
kind: Service
metadata:
 name: mongo
 labels:
   name: mongo
spec:
 ports:
 - port: 27017
   targetPort: 27017
 clusterIP: None
 selector:
   role: mongo
---
apiVersion: apps/v1beta1
kind: StatefulSet
metadata:
 name: mongo
spec:
 serviceName: "mongo"
 replicas: 3
 template:
   metadata:
     labels:
       role: mongo
       environment: test
       #This label will be used by openebs to place in replica
       # pod anti-affinity to make sure data of different mongo
       # instances are not co-located on the same node
       openebs.io/replica-anti-affinity: vehicle-db
   spec:
     terminationGracePeriodSeconds: 10
     containers:
       - name: mongo
         image: mongo
         command:
           - mongod
           - "--replSet"
           - rs0
           - "--smallfiles"
           - "--noprealloc"
           - "--bind_ip_all"
         ports:
           - containerPort: 27017
         volumeMounts:
           - name: mongo-persistent-storage
             mountPath: /data/db
       - name: mongo-sidecar
         image: cvallance/mongo-k8s-sidecar
         env:
           - name: MONGO_SIDECAR_POD_LABELS
             value: "role=mongo,environment=test"
 volumeClaimTemplates:
 - metadata:
     name: mongo-persistent-storage
   spec:
     storageClassName: mongo-pv-az
     accessModes:
       - ReadWriteOnce
     resources:
       requests:
         storage: 5G
