/* override logo styling */


/*.logo {
  display: block;
  width: 150px !important;
  margin: 5px;
  fill: #fff;
  background-color: #fb8225 !important;
  border-radius: 0 !important;
}*/

html {
    background-color: #fcfcfc;
}

.wy-side-nav-search {
    background-color: #ee5a2b;
}

.wy-nav-top {
    background-color: #ee5a2b;
}

.wy-nav-content {
    text-align: justify;
    max-width: 100%;
}

.caption-text{
    color: #fff;
}

@media screen and (min-width:1100px) {
    .wy-side-scroll {
        width: 350px;
    }
    .wy-nav-content-wrap{
        margin-left: 340px;
    }
    .wy-side-nav-search {
        width: 340px;
    }
    .wy-menu-vertical {
        width: 340px;
    }
    .rst-versions {
        width: 340px;
    }
    nav.wy-nav-side {
        width: 340px;
    }
    .wy-side-scroll {
        width: 355px;
    }
}