---
apiVersion: openebs.io/v1alpha1
kind: StoragePoolClaim
metadata:
  name: {{ poolname }}
  annotations:
    cas.openebs.io/config: |
      - name: CstorPoolImage
        value: openebs/cstor-pool:{{ cstor_tag }}
      - name: CstorPoolMgmtImage
        value: openebs/cstor-pool-mgmt:{{ cstor_tag }}
spec:
  name: cstor-pool-default-0.7.0
  type: {{disk_kind}}
  maxPools: 3
  poolSpec:
    poolType: {{ pooltype }}
    cacheFile: /tmp/pool1.cache
    overProvisioning: false
  # NOTE - Appropriate disks need to be fetched using `kubectl get disks`
  #
  # `Disk` is a custom resource supported by OpenEBS with `node-disk-manager` 
  # as the disk operator
  disks:
    diskList:
