---
apiVersion: openebs.io/v1alpha1
kind: StoragePoolClaim
metadata:
  name: cstor-pool-default-sparse-0.7.0
  annotations:
    cas.openebs.io/config: |
      - name: CstorPoolImage
        value: openebs/cstor-pool:{{ tag }}
      - name: CstorPoolMgmtImage
        value: openebs/cstor-pool-mgmt:{{ tag }}
spec:
  name: cstor-pool-default-sparse-0.7.0
  type: sparse
  maxPools: 3
  poolSpec:
    poolType: striped
    cacheFile: /tmp/pool1.cache
    overProvisioning: false

