---
- name: Get $HOME of K8s master for kubernetes user
  shell: source ~/.profile; echo $HOME
  args:
    executable: /bin/bash
  register: result_kube_home
  delegate_to: "{{groups['kubernetes-kubemasters'].0}}"
  changed_when: true

- name: Start the log aggregator to capture test pod logs
  shell: >
    source ~/.profile;
    nohup stern "{{test_pod_regex}}" --since 1m > "{{result_kube_home.stdout}}/{{test_log_path}}" &
  args:
    executable: /bin/bash
  become: true
  delegate_to: "{{groups['kubernetes-kubemasters'].0}}"
  changed_when: true


