---
apiVersion: storage.k8s.io/v1
kind: StorageClass
metadata:
  name: {{ cstor_sc }}
  annotations:
    openebs.io/cas-type: cstor
    cas.openebs.io/config: |
      - name: StoragePoolClaim
        value: {{ cstor_pool_name }}
      - name: VolumeControllerImage
        value: openebs/cstor-volume-mgmt:{{ tag }}
      - name: VolumeTargetImage
        value: openebs/cstor-istgt:{{ tag }}
provisioner: openebs.io/provisioner-iscsi
