---
apiVersion: storage.k8s.io/v1
kind: StorageClass
metadata:
  name: openebs-cstor-default-sparse
  annotations:
    openebs.io/cas-type: cstor
    cas.openebs.io/config: |
      - name: StoragePoolClaim
        value: "cstor-pool-default-sparse-0.7.0"
      - name: VolumeControllerImage
        value: openebs/cstor-volume-mgmt:{{ tag }}
      - name: VolumeTargetImage
        value: openebs/cstor-istgt:{{ tag }}
      - name: VolumeMonitorImage
        value: openebs/m-exporter:{{ tag }}
provisioner: openebs.io/provisioner-iscsi
