version: 2

updates:
  - package-ecosystem: "github-actions"
    directories:
      - "/"
      - "/.github/actions/*"
    schedule:
      interval: monthly
    groups:
      github-actions:
        patterns:
          - "*"

  - package-ecosystem: "docker"
    schedule:
      interval: monthly
    directory: "/"
    groups:
      docker:
        patterns: ["*"]

  - package-ecosystem: "{{ECOSYSTEM}}"
    directory: "/"
    schedule:
      interval: weekly
    open-pull-requests-limit: 0
    groups:
      {{GROUP_NAME}}:
        applies-to: security-updates
        patterns:
          - "*"
